
/* ------------------------------------------- 
        Fonts
 ---------------------------------------------*/

 @font-face {
  font-family: "DeliusUnicase";
  src: url(../fonts/DeliusUnicase-Bold.otf);
}


.chroniquesdeletrange {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.chroniquesdeletrange .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.chroniquesdeletrange form {
  height: 100%;
}
.chroniquesdeletrange .sheet-header {
  flex: 0 0 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  height: 100%;
  overflow-y: clip;
  
  background-image: url("/systems/chroniquesdeletrange/images/fond_de_page.png");
  background-position: top right; 
}

/*.chroniquesdeletrange .sheet-header .logo-img {
  max-height : 100%;
  width : auto;
}

  .aptitudes .sheet-header .header-fields {
  flex: 1;
  height: 150px;
}
.chroniquesdeletrange .sheet-header h1.charname {
  height: 50px;
  padding: 5px;
  margin: 5px 0;
  border-bottom: 0;
}
.chroniquesdeletrange .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}  */

.chroniquesdeletrange .sheet-display {
  display: flex;
  column-gap: 10px;
  overflow-y: auto;
}

.chroniquesdeletrange .side-sheet {
  width: 190px;
}

.chroniquesdeletrange .side-sheet .logo-img {
  max-height: 100%;
  width: auto;
}

.chroniquesdeletrange .side-sheet .click-prefs {
  font-size: 20px;
}

.chroniquesdeletrange .side-sheet h1.charname {
  height: 50px;
  padding: 5px;
  margin: 5px 0;
  border-bottom: 0;
}

.chroniquesdeletrange .side-sheet h1.charname input {
  width: 100%;
  height: 28px;
  font-size: 18px;
  margin: 0;
}

.chroniquesdeletrange .concept {
  text-align: center;
}

.chroniquesdeletrange .concept input {
  height: 28px;
  text-align: center;
}
.chroniquesdeletrange .concept select {
  text-align: center;
}

.chroniquesdeletrange .body-sheet {
  width: 710px;
}

.chroniquesdeletrange.sheet.actor.character .sheet-body {
  overflow-y: auto;
}

.chroniquesdeletrange .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  overflow-y: clip;
  background-image: url("/systems/chroniquesdeletrange/images/fond_de_page.png");
  background-position: top right; 
}

.chroniquesdeletrange .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.chroniquesdeletrange .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

/*
.chroniquesdeletrange .sheet-body {
  overflow: hidden;
} */

.chroniquesdeletrange .sheet-body .tab {
  height: 100%;
  height: 900px;
  padding: 2px;
  /* overflow-y: auto; */
  background-image: url("/systems/chroniquesdeletrange/images/fond_de_page.png");
  background-position: bottom left; 
}

.chroniquesdeletrange .sheet-body .click:hover,
.chroniquesdeletrange .side-sheet .click-initiative:hover,
.chroniquesdeletrange .side-sheet .click-initiative-npc:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px #af010a);
}

.chroniquesdeletrange .sheet-body .click2:hover {
  cursor: pointer;
}

.chroniquesdeletrange .sheet-body img {
border: 0;
}


/* concerne les compétences */

.chroniquesdeletrange .sheet-body .tab.skills .tab-titre{
  padding-top: 20px;
  font-weight: bold;
}

.chroniquesdeletrange .sheet-body .skills image img {
border: 0;
z-index: 4;
width: 100%;
}
.chroniquesdeletrange .sheet-body .skills image div.stick {
margin-top: -52px;
z-index: 2;
width: 3%;
text-align: center;
}
.chroniquesdeletrange .sheet-body .skills table tr td.click {
width: 27px;
}
.chroniquesdeletrange .sheet-body .skills table tr td.noclick {
width: 27px;
} 
.chroniquesdeletrange .sheet-body .skills table tr td table tr td.icon-d {
width: 27px;
}
.chroniquesdeletrange .sheet-body .skills table tr td.bonus {
width: 35px;
}
.chroniquesdeletrange .sheet-body .skills table tr td.label {
width: 25%;
}
.chroniquesdeletrange .sheet-body .skills table tr td.check {
width: 5%;
}
.chroniquesdeletrange .sheet-body .skills table tr td.image {
width: 5%;
text-align: center;
}
.chroniquesdeletrange .sheet-body .skills table tr td.image img {
z-index: 4;
width: 100%;
}
.chroniquesdeletrange .sheet-body .skills table tr td.image div.stick {
margin-top: -52px;
z-index: 2;
width: 3%;
text-align: center;
}
.chroniquesdeletrange .sheet-body .skills table tr td.image input.input {
border: 0;
width: 30px;
text-align: center;
}
.chroniquesdeletrange .sheet-body .skills table tr td.specialities input.input {
width: 100%;
text-align: left;
}


/* concerne la magie */

.chroniquesdeletrange .sheet-body .magics .linear-green {
	background: linear-gradient(Khaki, ForestGreen);
}


.chroniquesdeletrange .sheet-body .magics .linear-red {
	background: linear-gradient(Khaki, Red);
}


.chroniquesdeletrange .sheet-body .magics .linear-brown {
	background: linear-gradient(Khaki, Sienna);
}


.chroniquesdeletrange .sheet-body .magics .linear-blue {
	background: linear-gradient(Khaki, DodgerBlue);
}


.chroniquesdeletrange .sheet-body .magics .linear-grey {
	background: linear-gradient(Khaki, SlateGray);
}


.chroniquesdeletrange .sheet-body .magics table tr td.label {
  width: 150px;
}
  .chroniquesdeletrange .sheet-body .magics table tr td table tr td.label {
  width: 150px;
}
  .chroniquesdeletrange .sheet-body .magics .check {
  width: 5%;
}
  .chroniquesdeletrange .sheet-body .magics table tr td.image {
  width: 5%;
  text-align: center;
}
  .chroniquesdeletrange .sheet-body .magics .image img {
  z-index: 4;
  width: 50px;
}
  .chroniquesdeletrange .sheet-body .magics .image div.stick {
  margin-top: -46px;
  z-index: 2;
  width: 3%;
  text-align: center;
}
  .chroniquesdeletrange .sheet-body .magics .image input {
  border: 0;
  margin-top: -30px;
  text-align: center;
}
  .chroniquesdeletrange .sheet-body .magics .click {
  width: 4%;
}
  .chroniquesdeletrange .sheet-body .magics .icon-d {
  width: 8%;
}
  .chroniquesdeletrange .sheet-body .magics .icon-element img {
  width: 50%;
  margin-left: 6px;
  margin-bottom: 2px;
}
  .chroniquesdeletrange .sheet-body .magics .icon-yin img {
  width: 25%;
  margin-left: 8px;
  margin-bottom: 2px;
}
  .chroniquesdeletrange .sheet-body .magics .icon-yang img {
  width: 40%;
  margin-left: 0;
  margin-bottom: 2px;
}
  .chroniquesdeletrange .sheet-body .magics .icon-yinyang img {
  width: 40%;
  margin-left: 0;
  margin-bottom: 2px;
}
  

/* concerne l'onglet ng hang */

.chroniquesdeletrange .sheet-body .nghang_wrap {
  background-image: url("");
}  
	
.chroniquesdeletrange .sheet-body .nghang_wrap {
    position: relative;
    overflow: hidden;
    padding: 16px;
    border: no-border;
}
.chroniquesdeletrange .sheet-body .nghang_wrap .schema {
    padding: 100px;
    position: relative;
    z-index: 2;
}
.chroniquesdeletrange .sheet-body .nghang_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.chroniquesdeletrange .sheet-body .nghang_wrap .logo {
  z-index: 4;
  width: 21%;
  margin-top: -30px;
  margin-left: -22px;
}

.chroniquesdeletrange .nghangpart1 {
  margin-top: -65px;
  margin-left: 267px;
}
.chroniquesdeletrange .nghangpart1 .fire .click2 {
  width: 30px;
  margin-top: 86px;
  margin-left: 320px;
}
.chroniquesdeletrange .nghangpart1 input {
  width: 40px;
  height: 28px;
  font-size: 1.5em;
  text-align: center;
}

.chroniquesdeletrange .nghangpart2 {
  margin-top: 113px;
  margin-left: 67px;
}
.chroniquesdeletrange .nghangpart2 .wood .click2 {
  width: 30px;
  margin-top: 231px;
  margin-left: 123px;
}
.chroniquesdeletrange .nghangpart2 input {
  width: 40px;
  height: 28px;
  font-size: 1.5em;
  text-align: center;
}

.chroniquesdeletrange .nghangpart4 {
  margin-top: -23px;
  margin-left: 467px;
}
.chroniquesdeletrange .nghangpart4 .earth .click2 {
  width: 30px;
  margin-top: 235px;
  margin-left: 520px;

}
.chroniquesdeletrange .nghangpart4 input {
  width: 40px;
  height: 28px;
  font-size: 1.5em;
  text-align: center;
}

.chroniquesdeletrange .nghangpart5 {
  margin-top: 175px;
  margin-left: 120px;
}
.chroniquesdeletrange .nghangpart5 .water .click2 {
  width: 30px;
  margin-top: 440px;
  margin-left: 176px;
}
.chroniquesdeletrange .nghangpart5 input {
  width: 40px;
  height: 28px;
  font-size: 1.5em;
  text-align: center;
}

.chroniquesdeletrange .nghangpart7 {
  margin-top: -27px;
  margin-left: 403px;
}
.chroniquesdeletrange .nghangpart7 .metal .click2 {
  width: 30px;
  margin-top: 440px;
  margin-left: 460px;
}
.chroniquesdeletrange .nghangpart7 input {
  width: 40px;
  height: 28px;
  font-size: 1.5em;
  text-align: center;
}


/* concerne les items */

.chroniquesdeletrange .editor,
.chroniquesdeletrange .editor-content {
  height: 100%;
}

.chroniquesdeletrange .attributes .quantity,
.chroniquesdeletrange .attributes .weight {
  width: 60px;
  text-align: center;
}

.chroniquesdeletrange .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.chroniquesdeletrange .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.chroniquesdeletrange .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.chroniquesdeletrange .item-list .item-name {
  margin: 0;
}
.chroniquesdeletrange .item-list .item-controls {
  flex: 0 0 36px;
}
.chroniquesdeletrange .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.chroniquesdeletrange .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.chroniquesdeletrange .attributes {
  position: relative;
}
.chroniquesdeletrange .attributes .attribute-control,
.chroniquesdeletrange .attributes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.chroniquesdeletrange .attributes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chroniquesdeletrange .attributes .group-prefix {
  height: 31px;
  margin-right: 10px;
}
.chroniquesdeletrange .attributes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.chroniquesdeletrange .attributes .attribute-key {
  background: transparent;
  border: none;
}
.chroniquesdeletrange .attributes-header {
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
}
.chroniquesdeletrange .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chroniquesdeletrange .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.chroniquesdeletrange .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}
.chroniquesdeletrange .attributes-list .attribute-col input {
  font-size: 11px;
  text-align: center;
  line-height: 1;
  height: 50%;
}
.chroniquesdeletrange .attribute input[type="text"]::placeholder,
.chroniquesdeletrange .group-header input[type="text"]::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.chroniquesdeletrange .attribute input[type="text"]:focus::placeholder,
.chroniquesdeletrange .group-header input[type="text"]:focus::placeholder {
  opacity: 1;
}
.chroniquesdeletrange .group-controls {
  margin: 5px;
}
.chroniquesdeletrange .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chroniquesdeletrange .group {
  margin: 5px 0 0;
  padding: 0;
}
.chroniquesdeletrange .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
}
.chroniquesdeletrange .group-key,
.chroniquesdeletrange .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.chroniquesdeletrange .group-key {
  opacity: 0.75;
}
.chroniquesdeletrange .group-label {
  flex: 2;
}
.chroniquesdeletrange .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}




.chroniquesdeletrange.sheet.character {
  min-width: 920px; /* 560px; */
  max-width: 920px;
  min-height: 420px;
  max-height: 750px;
}

.chroniquesdeletrange.sheet.item,
.chroniquesdeletrange.sheet.kungfu,
.chroniquesdeletrange.sheet.spell,
.chroniquesdeletrange.sheet.supernatural {
  min-width: 460px;
  min-height: 400px;
}

.chroniquesdeletrange.sheet.item .sheet-body,
.chroniquesdeletrange.sheet.kungfu .sheet-body,
.chroniquesdeletrange.sheet.spell .sheet-body,
.chroniquesdeletrange.sheet.supernatural .sheet-body {
  overflow-y: auto;
}


/* concerne la fiche tinji-sheet */

.chroniquesdeletrange .sheet-body .tinji_wrap {
  background-image: url("");
}  
	
.chroniquesdeletrange .sheet-body .tinji_wrap {
    position: relative;
    overflow: hidden;
    padding: 16px;
    border: no-border;
}
.chroniquesdeletrange .sheet-body .tinji_wrap .schema {
    padding: 100px;
    position: relative;
    z-index: 2;
}
.chroniquesdeletrange .sheet-body .tinji_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.chroniquesdeletrange .sheet-body .tinji_wrap .logo {
  z-index: 4;
  width: 21%;
  margin-top: -30px;
  margin-left: -22px;
}

.chroniquesdeletrange.sheet.actor.tinji {
  min-width: 700px; /* 560px; */
  max-width: 700px;
  min-height: 420px;
  max-height: 800px;
}

.chroniquesdeletrange.sheet.actor.tinji .sheet-header {
  flex: 0 0 100px;
}

.chroniquesdeletrange.sheet.actor.tinji .sheet-body {
  overflow-y: auto;
}

.chroniquesdeletrange .sheet-body .tinji .tinji-value
{
  width: 50px;
  text-align: center;
  font-size: 1.5em;
  margin-top: -35px;
  margin-left:205px;
}


/* concerne la fiche loksyu-sheet */

.chroniquesdeletrange .sheet-body .loksyu_wrap {
  background-image: url("");
}  
	
.chroniquesdeletrange .sheet-body .loksyu_wrap {
    position: relative;
    overflow: hidden;
    padding: 16px;
    border: no-border;
}
.chroniquesdeletrange .sheet-body .loksyu_wrap .schema {
    padding: 100px;
    position: relative;
    z-index: 2;
}
.chroniquesdeletrange .sheet-body .loksyu_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.chroniquesdeletrange .sheet-body .loksyu_wrap .logo {
  z-index: 4;
  width: 21%;
  margin-top: -30px;
  margin-left: -22px;
}


.chroniquesdeletrange.sheet.actor.loksyu {
  min-width: 700px; /* 560px; */
  max-width: 700px;
  min-height: 420px;
  max-height: 800px;
}

.chroniquesdeletrange.sheet.actor.loksyu .sheet-body {
  overflow-y: auto;
}

.chroniquesdeletrange.sheet.actor.loksyu .sheet-header {
  flex: 0 0 100px;
}

/* .chroniquesdeletrange .sheet-body .loksyu .number
{
  width: 50px;
  text-align: center;
  font-size: 1.5em;
  z-index: 4;
} */

.chroniquesdeletrange .sheet-body .loksyu div.wood-yang
{
  margin-top: 5px;
  margin-left : 123px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}

.chroniquesdeletrange .sheet-body .loksyu .wood-yin
{
  margin-top: 12px;
  margin-left : 285px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}

.chroniquesdeletrange .sheet-body .loksyu .metal-yang
{
  margin-top: 20px;
  margin-left : 25px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}

.chroniquesdeletrange .sheet-body .loksyu .fire-yang
{
  margin-top: -38px;
  margin-left: 420px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}

.chroniquesdeletrange .sheet-body .loksyu .earth-yang
{
  margin-top: 45px;
  margin-left: 123px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}

.chroniquesdeletrange .sheet-body .loksyu .earth-yin
{
  margin-top: 12px;
  margin-left: 285px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}

.chroniquesdeletrange .sheet-body .loksyu .metal-yin
{
  margin-top: 35px;
  margin-left: -15px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}

.chroniquesdeletrange .sheet-body .loksyu .fire-yin
{
  margin-top: -40px;
  margin-left: 380px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}

.chroniquesdeletrange .sheet-body .loksyu .water-yang
{
  margin-top: 42px;
  margin-left : 125px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}

.chroniquesdeletrange .sheet-body .loksyu .water-yin
{
  margin-top: 10px;
  margin-left : 285px;
  width: 50px;
  text-align: center;
  font-size: 1.5em;
}


/* concerne la fiche npc-sheet */

.chroniquesdeletrange .sheet-body .aptitudes table tr td.image input.input {
  border: 0;
}
.chroniquesdeletrange .sheet-body .aptitudes table tr td.image {
  width: 5%;
  text-align: center;
}
.chroniquesdeletrange .sheet-body .aptitudes table tr td.image img {
  z-index: 4;
  width: 100%;
}
.chroniquesdeletrange .sheet-body .aptitudes table tr td.image div.stick {
  margin-top: -52px;
  z-index: 2;
  width: 3%;
  text-align: center;
}


.chroniquesdeletrange.sheet.actor.npc {
  min-width: 920px; /* 560px; */
  max-width: 920px;
  min-height: 420px;
  max-height: 750px;
}


.chroniquesdeletrange .sheet-body .aptitudes table tr td.image2 {
  margin-top: 0;
  width: 5%;
  text-align: center;
}
.chroniquesdeletrange .sheet-body .aptitudes table tr td.image2 img {
  margin-top: -5px;
  z-index: 4;
  width: 100%;
}
.chroniquesdeletrange .sheet-body .aptitudes table tr td.image2 div.stick {
  margin-top: -47px;
  z-index: 2;
  width: 3%;
  text-align: center;
}
.chroniquesdeletrange .sheet-body .aptitudes .specialities {
  width: 70%;
}

.chroniquesdeletrange .sheet-body .aptitudes .dragon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chroniquesdeletrange .sheet-body .aptitudes .dragon .logo {
  width : 55%;
}


/* concerne l'item kung-fu */

.chroniquesdeletrange .sheet-header .kungfu .libel {
  text-align: center;
}


/* Concerne les prompts */

.chroniquesdeletrange .sheet-body .frame {
  background-image: url("/systems/chroniquesdeletrange/images/cde_fond_transp.png");
}

.chroniquesdeletrange .sheet-body .frame .input {
  text-align: center;
}

.chroniquesdeletrange .sheet-body .frame table tr {
  border: 0;
}

.chroniquesdeletrange .sheet-body .frame table tr:nth-child(odd) {
  background-color: transparent;
}

.chroniquesdeletrange .sheet-body .frame table tr:nth-child(even) {
  background-color: transparent;
}



/*
.image-popout .window-content {
  box-shadow: 10px 10px 5px black;
}

#fullscreen-layer .background {
  box-shadow: 10px 5px 5px black;
}
*/




/* concerne l'interface de Foundry */

#logo {
  content: url("/systems/chroniquesdeletrange/images/logo_jeu.png");
  width: 70px;
  height: 70px;
  margin-left: 22px;
  margin-top: -2px;
}

#pause > img {
  content: url("/systems/chroniquesdeletrange/images/wheel.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}


/* concerne les préférences */

.chroniquesdeletrange .side-sheet .click-prefs:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px #af010a);
}


.journal-header input,
.journal-entry-page h1,
.journal-entry-page h2,
.journal-entry-page h3,
.journal-entry-page h4,
.journal-entry-page h5,
.journal-entry-page h6 {
  font-family: "DeliusUnicase";
  color:hsla(41, 88%, 44%, 0.874);
  border-bottom: 0px;
  border-top: 1px solid hsla(41, 88%, 44%, 0.874);
}