&nbsp;<br>&nbsp;
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
    <b>{{ localize "CDE.HEI" }}</b>
</div>
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
    <b>{{ localize "CDE.Essence2" }}</b>
</div>
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
    <b>{{ localize "CDE.YANG-YIN" }}</b>
</div>
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
    {{ localize "CDE.Max-Present-Present-Max" }}
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <img style="width: 7%;margin-top: 0px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
    <img style="width: 17%;margin-left: -15px;" class="cercle-grand" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 15%;margin-top: 0px;" class="cercle-yinyang" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
    <img style="width: 17%;position: relative;" class="cercle-grand" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 7%;margin-left: -15px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 150px;margin-top: 17px;text-align: center;font-size: 1.5em;" class="input heiyang.max" type="number" name="system.threetreasures.heiyang.max" value="{{systemData.threetreasures.heiyang.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 27px;text-align: center;font-size: 1.5em;" class="input heiyang.value" type="number" name="system.threetreasures.heiyang.value" value="{{systemData.threetreasures.heiyang.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 185px;text-align: center;font-size: 1.5em;" class="input heiyin.value" type="number" name="system.threetreasures.heiyin.value" value="{{systemData.threetreasures.heiyin.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 25px;text-align: center;font-size: 1.5em;" class="input heiyin.max" type="number" name="system.threetreasures.heiyin.max" value="{{systemData.threetreasures.heiyin.max}}"/>
</div>
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
    <b>{{ localize "CDE.SAN-ZING" }}</b>
</div>
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
    <b>{{ localize "CDE.MentalHealth-PhysicalHealth" }}</b>
</div>
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
{{ localize "CDE.Max-Present-Malus-Present-Max" }}
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <img style="width: 7%;margin-top: 0px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
    <img style="width: 17%;margin-left: -15px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <b>--</b>
    <img style="width: 17%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 7%;margin-left: -15px;" class="cercle.petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 195px;margin-top: 17px;text-align: center;font-size: 1.5em;" class="input san1.max" type="number" name="system.threetreasures.dicelevel.level0d.san.max" value="{{systemData.threetreasures.dicelevel.level0d.san.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 30px;text-align: center;font-size: 1.5em;" class="input san1.value" type="number" name="system.threetreasures.dicelevel.level0d.san.value" value="{{systemData.threetreasures.dicelevel.level0d.san.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 90px;text-align: center;font-size: 1.5em;" class="input zing1.value" type="number" name="system.threetreasures.dicelevel.level0d.zing.value" value="{{systemData.threetreasures.dicelevel.level0d.zing.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 25px;text-align: center;font-size: 1.5em;" class="input zing1.max" type="number" name="system.threetreasures.dicelevel.level0d.zing.max" value="{{systemData.threetreasures.dicelevel.level0d.zing.max}}"/>
</div>
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
<div style="display: flex; justify-content: center; align-items: center;">
    <img style="width: 7%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
    <img style="width: 17%;margin-left: -15px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <b>- 1 D</b>
    <img style="width: 17%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 7%;margin-left: -15px;" class="cercle-tres_petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 185px;margin-top: 17px;text-align: center;font-size: 1.5em;" class="input san2.max" type="number" name="system.threetreasures.dicelevel.level1d.san.max" value="{{systemData.threetreasures.dicelevel.level1d.san.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 30px;text-align: center;font-size: 1.5em;" class="input san2.value" type="number" name="system.threetreasures.dicelevel.level1d.san.value" value="{{systemData.threetreasures.dicelevel.level1d.san.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 110px;text-align: center;font-size: 1.5em;" class="input zing2.value" type="number" name="system.threetreasures.dicelevel.level1d.zing.value" value="{{systemData.threetreasures.dicelevel.level1d.zing.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 25px;text-align: center;font-size: 1.5em;" class="input zing2.max" type="number" name="system.threetreasures.dicelevel.level1d.zing.max" value="{{systemData.threetreasures.dicelevel.level1d.zing.max}}"/>
</div>
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
<div style="display: flex; justify-content: center; align-items: center;">
    <img style="width: 7%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
    <img style="width: 17%;margin-left: -15px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <b>- 2 D</b>
    <img style="width: 17%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 7%;margin-left: -15px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 185px;margin-top: 17px;text-align: center;font-size: 1.5em;" class="input san3.max" type="number" name="system.threetreasures.dicelevel.level2d.san.max" value="{{systemData.threetreasures.dicelevel.level2d.san.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 30px;text-align: center;font-size: 1.5em;" class="input san3.value" type="number" name="system.threetreasures.dicelevel.level2d.san.value" value="{{systemData.threetreasures.dicelevel.level2d.san.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 110px;text-align: center;font-size: 1.5em;" class="input zing3.value" type="number" name="system.threetreasures.dicelevel.level2d.zing.value" value="{{systemData.threetreasures.dicelevel.level2d.zing.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 25px;text-align: center;font-size: 1.5em;" class="input zing3.max" type="number" name="system.threetreasures.dicelevel.level2d.zing.max" value="{{systemData.threetreasures.dicelevel.level2d.zing.max}}"/>
</div>
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
    <b>{{ localize "CDE.PTAO" }}</b>
</div>
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
    <b>{{ localize "CDE.Experience" }}</b>
</div>
<div style="display: flex; justify-content: center; align-items: center;text-align: center;">
    {{ localize "CDE.Total-Present" }}
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <img style="width: 7%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Total" }}" alt="Cercle">
    <img style="width: 17%;margin-left: -15px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 278px;margin-top: 17px;text-align: center;font-size: 1.5em;" class="input experience.max" type="number" name="system.experience.max" value="{{systemData.experience.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 32px;text-align: center;font-size: 1.5em;" class="input experience.value" type="number" name="system.experience.value" value="{{systemData.experience.value}}"/>
</div>