<div class="schema">
  <img
    class="logo"
    src="systems/chroniquesdeletrange/images/logo_jeu.png"
    title="奇闻异事 ● Hong Kong – Les Chroniques de l'&Eacute;trange ● R.d′Huissier & C.Lameire ● Antre Monde &Eacute;ditions"
    alt="Logo"
  />

  <div class="clickondie nghangpart1">
    <div class="fire">
      <img
        class="click2"
        data-libel-id="fire-aspect"
        src="systems/chroniquesdeletrange/images/d10-transparent.png"
        title="{{ localize 'CDE.Die' }}{{ localize 'CDE.Fire' }}"
        alt="Die"
        onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"
        ;
        onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';"
        />
    </div>
    <input type="number" name="system.aspect.fire.value" value="{{systemData.aspect.fire.value}}" title="{{ localize 'CDE.Fire' }}{{ localize 'CDE.FireQualities' }}" />
  </div>
  <div class="clickondie nghangpart2">
    <div class="wood">
      <img
        class="click2"
        data-libel-id="wood-aspect"
        src="systems/chroniquesdeletrange/images/d10-transparent.png"
        title="{{ localize 'CDE.Die' }}{{ localize 'CDE.Wood' }}"
        alt="Die"
        onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"
        ;
        onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';"
        />
    </div>
    <input type="number" name="system.aspect.wood.value" value="{{systemData.aspect.wood.value}}" title="{{ localize 'CDE.Wood' }}{{ localize 'CDE.WoodQualities' }}" />
  </div>
  <div class="nghangpart3"></div>
  <div class="clickondie nghangpart4">
    <div class="earth">
      <img
        class="click2"
        data-libel-id="earth-aspect"
        src="systems/chroniquesdeletrange/images/d10-transparent.png"
        title="{{ localize 'CDE.Die' }}{{ localize 'CDE.Earth' }}"
        alt="Die"
        onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"
        ;
        onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';"
        />
    </div>
    <input type="number" name="system.aspect.earth.value" value="{{systemData.aspect.earth.value}}" title="{{ localize 'CDE.Earth' }}{{ localize 'CDE.EarthQualities' }}" />
  </div>
  <div class="clickondie nghangpart5">
    <div class="water">
      <img
        class="click2"
        data-libel-id="water-aspect"
        src="systems/chroniquesdeletrange/images/d10-transparent.png"
        title="{{ localize 'CDE.Die' }}{{ localize 'CDE.Water' }}"
        alt="Die"
        onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"
        ;
        onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';"
      />
    </div>
    <input type="number" name="system.aspect.water.value" value="{{systemData.aspect.water.value}}" title="{{ localize 'CDE.Water' }}{{ localize 'CDE.WaterQualities' }}" />
  </div>
  <div class="nghangpart6"></div>
  <div class="clickondie nghangpart7">
    <div class="metal">
      <img
        class="click2"
        data-libel-id="metal-aspect"
        src="systems/chroniquesdeletrange/images/d10-transparent.png"
        title="{{ localize 'CDE.Die' }}{{ localize 'CDE.Metal' }}"
        alt="Die"
        onmouseout="this.src='/systems/chroniquesdeletrange/images/d10-transparent.png';"
        ;
        onmouseover="this.src='/systems/chroniquesdeletrange/images/d10-10.png';"
      />
    </div>
    <input type="number" name="system.aspect.metal.value" value="{{systemData.aspect.metal.value}}" title="{{ localize 'CDE.Metal' }}{{ localize 'CDE.MetalQualities' }}" />
  </div>
</div>
<img src="systems/chroniquesdeletrange/images/nghang_long.png" title="Ng Hang" alt="Ng Hang" />
