&nbsp;<br>&nbsp;
<div style="text-align: center;margin-left: -40px;">
    <b>{{ localize "CDE.HEI" }}</b>
</div>
<div style="text-align: center;margin-left: -40px;">
    <b>{{ localize "CDE.Essence2" }}</b>
</div>
<div style="text-align: center;margin-left: -40px;">
    <b>{{ localize "CDE.YANG-YIN" }}</b>
</div>
<div style="text-align: center;margin-left: -40px;">
    {{ localize "CDE.Max-Present-Present-Max" }}
</div>
<div>
    <img style="width: 17%;margin-top: 0px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
    <img style="width: 27%;margin-left: -35px;" class="cercle-grand" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 15%;margin-top: 0px;" class="cercle-yinyang" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
    <img style="width: 27%;position: relative;" class="cercle-grand" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 17%;margin-left: -35px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 35px;text-align: center;font-size: 1.5em;" class="input heiyang.max" type="number" name="system.threetreasures.heiyang.max" value="{{systemData.threetreasures.heiyang.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 85px;text-align: center;font-size: 1.5em;" class="input heiyang.value" type="number" name="system.threetreasures.heiyang.value" value="{{systemData.threetreasures.heiyang.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 260px;text-align: center;font-size: 1.5em;" class="input heiyin.value" type="number" name="system.threetreasures.heiyin.value" value="{{systemData.threetreasures.heiyin.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 85px;text-align: center;font-size: 1.5em;" class="input heiyin.max" type="number" name="system.threetreasures.heiyin.max" value="{{systemData.threetreasures.heiyin.max}}"/>
</div>
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
<div style="text-align: center;margin-left: -40px;">
    <b>{{ localize "CDE.SAN-ZING" }}</b>
</div>
<div style="text-align: center;margin-left: -40px;">
    <b>{{ localize "CDE.MentalHealth-PhysicalHealth" }}</b>
</div>
<div style="text-align: center;margin-left: -40px;">
{{ localize "CDE.Max-Present-Malus-Present-Max" }}
</div>
<div>
    <img style="width: 9%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
    <img style="width: 15%;margin-top: 0px;" class="cercle-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
    <img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <b>--</b>
    <img style="width: 25%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 15%;margin-left: -25px;" class="cercle.petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 95px;text-align: center;font-size: 1.5em;" class="input san1.max" type="number" name="system.threetreasures.dicelevel.level0d.san.max" value="{{systemData.threetreasures.dicelevel.level0d.san.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input san1.value" type="number" name="system.threetreasures.dicelevel.level0d.san.value" value="{{systemData.threetreasures.dicelevel.level0d.san.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 165px;text-align: center;font-size: 1.5em;" class="input zing1.value" type="number" name="system.threetreasures.dicelevel.level0d.zing.value" value="{{systemData.threetreasures.dicelevel.level0d.zing.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input zing1.max" type="number" name="system.threetreasures.dicelevel.level0d.zing.max" value="{{systemData.threetreasures.dicelevel.level0d.zing.max}}"/>
</div>
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
<div>
    <img style="width: 8%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
    <img style="width: 15%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
    <img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <b>- 1 D</b>
    <img style="width: 25%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 15%;margin-left: -25px;" class="cercle-tres_petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 90px;text-align: center;font-size: 1.5em;" class="input san2.max" type="number" name="system.threetreasures.dicelevel.level1d.san.max" value="{{systemData.threetreasures.dicelevel.level1d.san.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input san2.value" type="number" name="system.threetreasures.dicelevel.level1d.san.value" value="{{systemData.threetreasures.dicelevel.level1d.san.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 180px;text-align: center;font-size: 1.5em;" class="input zing2.value" type="number" name="system.threetreasures.dicelevel.level1d.zing.value" value="{{systemData.threetreasures.dicelevel.level1d.zing.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input zing2.max" type="number" name="system.threetreasures.dicelevel.level1d.zing.max" value="{{systemData.threetreasures.dicelevel.level1d.zing.max}}"/>
</div>
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
<div>
    <img style="width: 8%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
    <img style="width: 15%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
    <img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <b>- 2 D</b>
    <img style="width: 25%;position: relative;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
    <img style="width: 15%;margin-left: -25px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Max" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 90px;text-align: center;font-size: 1.5em;" class="input san3.max" type="number" name="system.threetreasures.dicelevel.level2d.san.max" value="{{systemData.threetreasures.dicelevel.level2d.san.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input san3.value" type="number" name="system.threetreasures.dicelevel.level2d.san.value" value="{{systemData.threetreasures.dicelevel.level2d.san.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 180px;text-align: center;font-size: 1.5em;" class="input zing3.value" type="number" name="system.threetreasures.dicelevel.level2d.zing.value" value="{{systemData.threetreasures.dicelevel.level2d.zing.value}}"/>
    <input style="width: 40px;height: 28px;margin-left: 75px;text-align: center;font-size: 1.5em;" class="input zing3.max" type="number" name="system.threetreasures.dicelevel.level2d.zing.max" value="{{systemData.threetreasures.dicelevel.level2d.zing.max}}"/>
</div>
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
&nbsp;<br>&nbsp;
<div style="text-align: center;margin-left: -40px;">
    <b>{{ localize "CDE.PTAO" }}</b>
</div>
<div style="text-align: center;margin-left: -40px;">
    <b>{{ localize "CDE.Experience" }}</b>
</div>
<div style="text-align: center;margin-left: -40px;">
    {{ localize "CDE.Total-Present" }}
</div>
<div>
    <img style="width: 32%;margin-top: 0px;visibility: hidden;" class="cercle-yinyang-cache" src="systems/chroniquesdeletrange/images/yin_yang.png" title="Yin Yang" alt="Yin Yang">
    <img style="width: 15%;margin-top: 0px;" class="cercle-tres-petit" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Total" }}" alt="Cercle">
    <img style="width: 25%;margin-left: -25px;" class="cercle-moyen" src="systems/chroniquesdeletrange/images/cercle.png" title="{{ localize "CDE.Present" }}" alt="Cercle">
</div>
<div style ="position: relative;margin-top: -90px;" class="hei-yang">
    <input style="width: 40px;height: 28px;margin-left: 265px;text-align: center;font-size: 1.5em;" class="input experience.max" type="number" name="system.experience.max" value="{{systemData.experience.max}}"/>
    <input style="width: 40px;height: 28px;margin-left: 85px;text-align: center;font-size: 1.5em;" class="input experience.value" type="number" name="system.experience.value" value="{{systemData.experience.value}}"/>
</div>