<form class="flexcol {{cssClass}}" autocomplete="off">
    {{log 'kungfu-sheet' this}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'CDE.Name' }}" />
            </h1>
			<div>
				<table class="kungfu">
					<tr>
							<td class="label"><b>&nbsp;{{ localize "CDE.Orientation" }}</b></td>
							<td class="libel"><input class="input" type="text" placeholder="{{ localize 'CDE.Orientation' }}" name="system.kungfu.orientation" value="{{systemData.kungfu.orientation}}"/></td>
							<td class="label"><b>&nbsp;{{ localize "CDE.Aspect" }}</b></td>
							<td class="libel"><input class="input" type="text" placeholder="{{ localize 'CDE.Aspect' }}" name="system.kungfu.aspect" value="{{systemData.kungfu.aspect}}"/></td>
							<td class="label"><b>&nbsp;{{ localize "CDE.Skill" }}</b></td>
							<td class="libel"><input class="input" type="text" placeholder="{{ localize 'CDE.Skill' }}" name="system.kungfu.skill" value="{{systemData.kungfu.skill}}"/></td>
							<td class="label"><b>&nbsp;{{ localize "CDE.Speciality" }}</b></td>
							<td class="libel"><input class="input" type="text" placeholder="{{ localize 'CDE.Speciality' }}" name="system.kungfu.speciality" value="{{systemData.kungfu.speciality}}"/></td>
					</tr>
				</table>			
			</div>
			<div>
				<label><b>{{localize "CDE.Reference"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'CDE.Reference' }}" name="system.reference" value="{{systemData.reference}}" />
			</div>
        </div>
    </header>
	
	{{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "CDE.Description"}}</a>
        <a class="item" data-tab="technique1">{{localize "CDE.Technique"}} 1</a>
        <a class="item" data-tab="technique2">{{localize "CDE.Technique"}} 2</a>
        <a class="item" data-tab="technique3">{{localize "CDE.Technique"}} 3</a>
        <a class="item" data-tab="notes">{{localize "CDE.Notes"}}</a>
    </nav>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>
		
		{{!-- Technique 1 Tab --}}
        <div class="tab" data-group="primary" data-tab="technique1">
			<div class="check"><input type="checkbox" name="system.techniques.technique1.check" {{ checked systemData.techniques.technique1.check }} title="" /><b>{{ localize "CDE.Masterized" }}</b></div>
			<div class="techniquename1">
				<label><b>{{localize "CDE.Technique"}} 1</b></label>
				<input class="input" type="text" placeholder="{{ localize 'CDE.Technique' }}" name="system.techniques.technique1.name" value="{{systemData.techniques.technique1.name}}" />
			</div>
			<div class="techniqueactivation1">
				<label><b>{{localize "CDE.Activation"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'CDE.Activation' }}" name="system.techniques.technique1.activation" value="{{systemData.techniques.technique1.activation}}" />
			</div>
			<div>
				<label><b>{{localize "CDE.Description"}}</b></label><br>
			</div>
			{{editor descriptionTechnique1HTML target="system.techniques.technique1.technique" button=true editable=editable engine="prosemirror"}}
		</div>

		{{!-- Technique 2 Tab --}}
        <div class="tab" data-group="primary" data-tab="technique2">
			<div class="check"><input type="checkbox" name="system.techniques.technique2.check" {{ checked systemData.techniques.technique2.check }} title="" /><b>{{ localize "CDE.Masterized" }}</b></div>
			<div class="techniquename2">
				<label><b>{{localize "CDE.Technique"}} 2</b></label>
				<input class="input" type="text" placeholder="{{ localize 'CDE.Technique' }}" name="system.techniques.technique2.name" value="{{systemData.techniques.technique2.name}}" />
			</div>
			<div class="techniqueactivation2">
				<label><b>{{localize "CDE.Activation"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'CDE.Activation' }}" name="system.techniques.technique2.activation" value="{{systemData.techniques.technique2.activation}}" />
			</div>
			<div>
				<label><b>{{localize "CDE.Description"}}</b></label><br>
			</div>
			{{editor descriptionTechnique2HTML target="system.techniques.technique2.technique" button=true editable=editable engine="prosemirror"}}
		</div>

		{{!-- Technique 3 Tab --}}
        <div class="tab" data-group="primary" data-tab="technique3">
			<div class="check"><input type="checkbox" name="system.techniques.technique3.check" {{ checked systemData.techniques.technique3.check }} title="" /><b>{{ localize "CDE.Masterized" }}</b></div>
			<div class="techniquename3">
				<label><b>{{localize "CDE.Technique"}} 3</b></label>
				<input class="input" type="text" placeholder="{{ localize 'CDE.Technique' }}" name="system.techniques.technique3.name" value="{{systemData.techniques.technique3.name}}" />
			</div>
			<div class="techniqueactivation3">
				<label><b>{{localize "CDE.Activation"}}</b></label>
				<input class="input" type="text" placeholder="{{ localize 'CDE.Activation' }}" name="system.techniques.technique3.activation" value="{{systemData.techniques.technique3.activation}}" />
			</div>
			<label><b>{{localize "CDE.Description"}}</b></label><br>
			<div>
			</div>
			{{editor descriptionTechnique3HTML target="system.techniques.technique3.technique" button=true editable=editable engine="prosemirror"}}
		</div>

		{{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor notesHTML target="system.notes" button=true editable=editable engine="prosemirror"}}
        </div>

    </section>

</form>