<form class="flexcol {{cssClass}}" autocomplete="off">
    {{log 'supernatural-sheet' this}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div>
                <label><b>{{localize "CDE.Reference"}}</b></label>
                <input class="input" type="text" placeholder="{{ localize 'CDE.Reference' }}" name="system.reference" value="{{systemData.reference}}" />
            </div>
		</div>
    </header>
	
	{{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "CDE.Description"}}</a>
        <a class="item" data-tab="notes">{{localize "CDE.Notes"}}</a>
    </nav>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor notesHTML target="system.notes" button=true editable=editable engine="prosemirror"}}
        </div>


    </section>
</form>